<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>如何写好一个tableView--2016.6.3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4BFD64DB1D0151EE0060B880</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BFD64F41D0151EE0060B880</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BFD64FF1D0151EE0060B880</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
